in@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    background-color: black;
    background: rgba(0, 0, 0, 0);
    user-select: none;
	font-family: 'Raleway', sans-serif;
  }

  .title {
	font-family: 'Raleway', sans-serif;
	color: #3CD070;
	border-bottom: 1px #41D073;
	border-bottom-style:solid;
	  position: relative;
	  padding-bottom: 5px;
  }

	@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

hr.char {
  border: 0.5px solid #1B552F;
}

#chartext {
  font-family: 'Raleway', sans-serif;
  color: #69D18E;
  text-align: center;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
}

#chartext2 {
  font-family: 'Raleway', sans-serif;
  color: #69D18E;
  text-align: center;
  font-size: 14px;
  padding: 5px 0px 5px 0px;
}

#chartext3 {
  font-family: 'Raleway', sans-serif;
  color: #69D18E;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
	border-bottom: 1px #41D073;
	border-bottom-style:solid;
}

input[type=text] {
	color: #69D18E;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    //padding: 0px 0px;
    //border-radius: 3px;
}

input[type=text]:focus {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  background-color: #373b3d;
  color: #69D18E;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(66, 209, 116, 1);
  border: 1px solid rgba(66, 209, 116, 1);
  background-color: #373b3d;
  color: #69D18E;
}

.cont {
  //background-color: #B4DCC2;
  background-image: linear-gradient(#48EC71, #38A753);
  color: #FFFFFF;
  border: none;
  //font-weight: bold;
  //text-transform: uppercase;
  padding: 5px 2px 0px 2px;
  text-align: center;
  display: inline-block;
  font-size: 10px;
  margin: 0px 2px;
  cursor: pointer;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.advance {
  background-color: #309854;
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.back {
  background-color: #98D0AB;
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.exit {
  background-color: #D86161;
  border: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.material-icons2 {
  font-family: 'Material Icons';
  //font-weight: normal;
  font-style: normal;
  font-size: 24px;
  //line-height: 1;
  //letter-spacing: normal;
  //text-transform: none;
  //display: inline-block;
  //white-space: nowrap;
	vertical-align:top;
  //word-wrap: normal;
  //direction: ltr;
  -webkit-font-feature-settings: 'liga';
  //-webkit-font-smoothing: antialiased;
}

  .creatorcontainer {
    /*background-color: rgb(53, 53, 53);
    text-align: center;
    width: 350px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;

    position: absolute;
    top: 30%;
    left: 75%;*/
	  
	background-color: #1D1F20;
	position: absolute;
    top: 30%;
	left: 75%;
    width: 350px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;
	  
	border-radius: 1em 1em 1em 1em;
    box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
	opacity: 0.97;
	border-bottom: 1px #41D073;
	border-bottom-style:solid;
	border-top: 1px #41D073;
	border-top-style:solid;
	  
  }

.form-check-label
{
	font-family: 'Raleway', sans-serif;
  color: #A9E1BD;
  text-align: center;
  font-size: 14px;
	font-weight: bold;
}


  .scrollbarstyle::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .scrollbarstyle::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .scrollbarstyle::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
  
  .innercontainer {
    margin: 10px 15px; 
    text-align: center; 
	color: rgb(174, 210, 186, 1);
    //color: rgb(255, 250, 203);
    //min-height: 440px;

  }

.form-group {
	border-bottom: 1px #1B552F;
	border-bottom-style:solid;
	padding: 0px 0px 10px 0px;
}

#creation_part1 {
	border-bottom: 1px #1B552F;
	border-bottom-style:solid;
	padding: 0px 0px 15px 0px;
}

  .overlay {
    //background-color: rgba(47, 168, 224, 0.1);
    //margin-bottom: 10px;
    //padding: 10px 10px;
  }

  .overlay p {
    text-align: center; 
    margin: 0px; 
    font-weight: bold;
  }

  .char {
    background-color: greenyellow;
    border: 2px solid;
  }

  .char:hover {
    background-color: #FF0000;
  }

  .flex {
    display: flex;
  }
  
  .footer {

    width: 100%;
    height: 40px;

    position:absolute; 
    position: sticky;
    bottom:0;
    background: rgb(146, 146, 146);
  }

  .footer:hover {
    background-color: rgb(95, 87, 134);
    cursor: pointer;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .hidden {
    display: none;
  }

  
#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;	
}

.loader {
  width: calc(100% - 0px);
height: calc(100% - 0px);
border: 8px solid #226F3D;
border-top: 8px solid #309854;
border-radius: 50%;
animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 
