body {
    background-color: black;
    background: rgba(0, 0, 0, 0);
    user-select: none;
  }

  .creatorcontainer {
    background-color: rgb(53, 53, 53);
    text-align: center;
    width: 350px;
    min-height: 500px;
    max-height: 500px;
    overflow-y: auto;

    position: absolute;
    top: 30%;
    left: 75%;
  }

  .scrollbarstyle::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .scrollbarstyle::-webkit-scrollbar
  {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .scrollbarstyle::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
  }
  
  .innercontainer {
    margin: 10px 15px; 
    text-align: center; 
    color: rgb(255, 250, 203);
    min-height: 440px;

  }

  .overlay {
    background-color: rgba(47, 168, 224, 0.1);
    margin-bottom: 10px;
    padding: 10px 10px;
  }

  .overlay p {
    text-align: center; 
    margin: 0px; 
    font-weight: bold;
  }

  .char {
    background-color: greenyellow;
    border: 2px solid;
  }

  .char:hover {
    background-color: #FF0000;
  }

  .flex {
    display: flex;
  }
  
  .footer {

    width: 100%;
    height: 40px;

    position:absolute; 
    position: sticky;
    bottom:0;
    background: rgb(146, 146, 146);
  }

  .footer:hover {
    background-color: rgb(95, 87, 134);
    cursor: pointer;
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  .hidden {
    display: none;
  }

  
#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;	
}

.loader {
  width: calc(100% - 0px);
height: calc(100% - 0px);
border: 8px solid #162534;
border-top: 8px solid rgb(0, 168, 36);
border-radius: 50%;
animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 
